html,
body,
:global(#app),
:global(#container) {
  margin: 0;
  padding: 0;
}

.pac-container{
  z-index: 2000;
}

.chakra-modal__content-container{
  align-items: flex-end !important;
}
.swiper-pagination-bullets{
  bottom: 0 !important;
}
body {
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}